{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" align="center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Download</th>
                </tr>
            </thead>
            <tbody>
                {% for res in result %}
                    <tr>
                        <td>{{res.0}}</td>
                        <td><a class="btn btn-primary" href="{{res.1}}"  role="button" download>Download</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-2"></div>
</div>

{% endblock %}